.stadium-grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.seat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(239, 177, 29);
  font-size: 3rem;
  color: black;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border-style: none;
  cursor: pointer;
}

.seat:hover {
  background: rgb(179, 25, 11);
  animation: none;
}
